.vta-body {
    margin-top: 55px;
    overflow: auto;

    @import "./flash.scss";
    @import "./form.scss";

    .vta-link {
        color: $topbar-bg;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}